<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>Hello</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/stylesheet.css"
          th:href="@{/css/stylesheet.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Login</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4 form-group">
            <form action="/index" method="post">
                <div class="form-group">
                    <label for="login">Username:</label>
                    <input type="text" class="form-control" id="login" placeholder="Enter login" name="login"/>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password" name="password"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
            <label for="login">Not a member?</label>
            <form action="/users/adduser">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Join now</button>
                </div>
            </form>
            <label for="login">Forgot password?</label>
            <form action="/passwords/reset/view">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </form>
            <h3><span class="label label-warning" th:text="${msg}"></span></h3>
        </div>

        <div class="col-md-4">
        </div>

    </div>
</div>
</body>
</html>