<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>Opponents</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="jumbotron">
        <div class="row text-center">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th>Rating</th>
                            <th>Rating Difference</th>
                            <th>Number of games lost</th>
                            <th>Number of games won</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="entry :${opponentsDataMap}">
                            <td th:text="${entry.key}"></td>
                            <td th:text="${entry.value.opponentRating}"></td>
                            <td th:text="${playerRating - entry.value.opponentRating}"></td>
                            <td th:text="${entry.value.lostAgainst}"></td>
                            <td th:text="${entry.value.wonAgainst}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>