<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opponents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Rating</th>
                    <th>Rating Difference</th>
                    <th>Number of games lost</th>
                    <th>Number of games won</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry :${opponentsDataMap}">
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value.opponentRating}"></td>
                    <td th:text="${playerRating - entry.value.opponentRating}"></td>
                    <td th:text="${entry.value.lostAgainst}"></td>
                    <td th:text="${entry.value.wonAgainst}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
</body>
</html>